:root {
  --bg-clr: #674baf;
  --active-states-clr: 	#e882e8;
}

img{
  width: 100%;
}

a {
  color: #FFF;
  text-decoration: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--bg-clr);
  background-image: url("../images/bg-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  color: #FFF;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.body-container {
  flex-direction: column;
  width: 80%;
  padding: 2rem 0;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.logo {
  width: 45%;
}

h1 {
  font-family: "Poppins", sans-serif;
}
