:root {
  --bg-clr: #674baf;
  --active-states-clr: 	#e882e8;
}

img{
  width: 100%;
}

a {
  color: #FFF;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--bg-clr);
  background-image: url("../images/bg-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  color: #FFF;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.body-container {
  flex-direction: column;
  width: 80%;
  padding: 2rem 0;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.logo {
  width: 43%;
}

.main--image-container {
  margin: 3.5rem 0;
}

.main--text-container {
  flex-direction: column;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

p {
  text-align: center;
  line-height: 1.75rem;
}

.register-link {
  background-color: #FFF;
  color: var(--bg-clr);
  font-size: .9rem;
  margin: 1rem 0 4rem 0;
  width: 75%;
  padding: .75rem 0;
  text-align: center;
  border-radius: 1.75rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 35%);
}
